<!doctype html>
<html lang="es">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CoderText - Private Zone</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="header__logo">
        <a class="logo" href="index.html">
            <img  src="./assets/icons/logo-codertexts-peq.png" alt="Inicio">
        </a>
    </div> <!-- end header__logo -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="user">Editar Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="articles-list" >Mis artículos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="article">Nuevo artículo</a>
            </li>           
        </ul>
        <div class="texto-blanco" *ngIf="usernameh; else nologin">
            <i class="fa fa-user"></i>Bienvenido, {{usernameh}}
        </div>
        <ng-template #nologin>
            <div class="texto-blanco">Por favor identifíquese para continuar</div>
        </ng-template>
    </div>
</nav>