<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3 class="entry__title">{{title_post}}</h3>
            </div>
        </div>
    </div>
   
    <form name="formulario" id="formulario" method="post" action="" [formGroup]="articleForm">
        
        <div class="row">
            <article class="col-md-12">
                <div class="form-field">
                    <input name="idpost" formControlName="idpost" type="hidden" [ngModel]="postId"/>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss('title')">
                    <label for="title" class="control-label required">Título</label>
                    <input name="title" formControlName="title" type="text" id="title" class="form-control" placeholder="Título" value="">
                    <app-field-error-display [displayError]="isFieldValid('title')" errorMsg="Por favor escriba el titulo con un maximo de 250 caracteres"></app-field-error-display>
                </div>

                
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="displayFieldCss('pub_date')">
                            <label for="pub_date" class="control-label required">Fecha de publicación</label>
                            <div class="input-group">
                                <input id="fecha" name="pub_date" formControlName="pub_date" type="text" #dp="bsDatepicker" bsDatepicker [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" placeholder="Fecha publicación" class="form-control" value="">
                                <span class="input-group-addon btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i class="fa fa-calendar"></i></span>
                            </div>
                            <app-field-error-display [displayError]="isFieldValid('pub_date')" errorMsg="Por favor indique la fecha"></app-field-error-display>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="displayFieldCss('categories')">
                            <label for="categories" class="control-label required">Categorias</label>
                            <select multiple name="categories" id="categories" formControlName="categories" class="form-control">
                                <option *ngFor="let category of listcategories$ | async" value={{category.id}} [value]="categories">{{category.name}}</option>
                            </select>
                            <app-field-error-display [displayError]="isFieldValid('categories')" errorMsg="Por favor marque al menos una categoria"></app-field-error-display>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="displayFieldCss('status')">
                            <label for="status" class="control-label required">Estado</label>
                            <select name="status" id="status" formControlName="status" value="" class="form-control">
                                <option value="borrador">Borrador</option>
                                <option value="finalizado">Finalizado</option>
                            </select>
                            <app-field-error-display [displayError]="isFieldValid('status')" errorMsg="Por favor indique el estado"></app-field-error-display>
                        </div>
                    </div> 
                </div>
                
                <div class="row">
                    <div class="col">
                        <div class="form-group" [ngClass]="displayFieldCss('text')">
                            <quill-editor formControlName="text" class="form-control"></quill-editor>
                            <app-field-error-display [displayError]="isFieldValid('text')" errorMsg="Escriba el contenido de la publicación"></app-field-error-display>
                        </div>
                    </div>
                <!--Barra lateral del autor -->
                    <div class="col-md-2 s-content__author text-center">
                        <div class="">
                            <img src="./images/user-03.jpg" alt="">
                        </div>
                        <div class="s-content__author-about">
                            <h4 class="s-content__author-name">
                                <a href="#0">{{username}}</a>
                                <span class="botonEstrella">
                                <a href="#"  alt="Seguir" ><i class="fa fa-user"></i></a>
                                </span>
                            </h4>
                            <p>Alias aperiam at debitis deserunt dignissimos dolorem doloribus, fuga fugiat impedit laudantium magni maxime
                            nihil nisi quidem quisquam sed ullam voluptas voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                            </p>

                            <ul class="s-content__author-social">
                                <li><a href="#0"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                                <li><a href="#0"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="#0"><i class="fa fa-instagram"></i>Instagram</a></li>
                            </ul>
                        </div>
                    <!--Fin Barra lateral del autor -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="displayFieldCss('image')">
                            <label for="image" class="control-label required">Url de imagen destacada</label>
                            <div class="input-group">
                                <input id="image" name="image" formControlName="image" type="url"  value="" class="form-control"/>
                            </div>
                            <app-field-error-display [displayError]="isFieldValid('image') || validUrl" errorMsg="Escriba url válida con un máxinmo de 200 caracteres"></app-field-error-display>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" [ngClass]="displayFieldCss('video')">
                            <label for="video" class="control-label required">Url video</label>
                            <div class="input-group">
                                <input id="video" name="video" formControlName="video" type="url"  value="" class="form-control"/>
                            </div>
                            <app-field-error-display [displayError]="isFieldValid('video')" errorMsg="Escriba url válida con un máxinmo de 200 caracteres"></app-field-error-display>
                        </div>
                    </div>
                </div>
                <div class="row_buttons">
                    <button (click)="onSaveArticle()">Guardar</button>
                    <button (click)="onDeleteArticle()">Borrar</button>
                </div>
            </article>    <!-- fin del artículo -->
        </div>
    </form><!-- fin formulario-->
    <app-loader-vc></app-loader-vc>
    <app-modal-delete></app-modal-delete>
    <div class="">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>