<div class="container">
  <form name="formulario" id="formulario" [formGroup]="formulario" (ngSubmit)="modifyUser()">
    <div class="row">
      <div class="col-md-6">
        <label for="">Usuario</label>
        <input type="text" formControlName="username">
      </div>
      <div class="col-md-6">
        <label for="">Nombre</label>
        <input type="text" formControlName="first_name">
      </div>
      <div class="col-md-6">
        <label for="">Apellidos</label>
        <input type="text" formControlName="last_name">
      </div>
      <div class="col-md-6">
        <label for="">Email</label>
        <input type="text" formControlName="email">
      </div>
      <div class="col-md-6">
        <label for="">Password</label>
        <input type="text" formControlName="password">
      </div>
      <div class="col-md-6">
        <label for="">Instagram</label>
        <input type="text" formControlName="instagram">
      </div>
      <div class="col-md-6">
        <label for="">Twitter</label>
        <input type="text" formControlName="twitter">
      </div>
      <div class="col-md-6">
        <label for="">Facebook</label>
        <input type="text" formControlName="facebook">
      </div>
      <div class="col-md-6">
        <label for="">Sobre m&iacute;</label>
        <input type="text" formControlName="about_me">
      </div>      
    </div>
    <div>
      <button type="submit">Guardar</button>
    </div>
  </form>
  <label>Avatar de usuario:</label>
<image-upload [max]="1"
 url="/subirAvatar/{{userid}}"
  [uploadedFiles]="listadoAdjuntos"
  [extensions]="['jpg','png','gif']"
  (removed)="onRemoved($event)"
  [buttonCaption]="'Subir Imagen'"
  [dropBoxMessage]="'Arrastra tu imagen aquí'"
  [clearButtonCaption]="'Borrar'"
  [objeto]="usuarioRecuperado"
  ></image-upload>
</div>
<app-loader-vc></app-loader-vc>
