<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div>
              <h3 class="entry__title">Datos personales de {{nombreUsuario}}</h3>
          </div>
      </div>
  </div>
  <form name="formulario" id="formulario" [formGroup]="formulario" (ngSubmit)="modifyUser()">
      <input type="hidden" formControlName="username">
    <div class="row">
      <div class="col-md-5">
        <label for="first_name">Nombre</label>
        <input type="text" class="full-width" formControlName="first_name">
      </div>
      <div class="col-md-2">
          &nbsp;
      </div>
      <div class="col-md-5">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="full-width" formControlName="last_name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label for="email">Email</label>
        <input type="text" class="full-width" formControlName="email">
      </div>
      <div class="col-md-2">
          &nbsp;
      </div>      
      <div class="col-md-5">
        <label for="password">Password</label>
        <input type="password" disabled="disabled" class="full-width" value="******">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label for="instagram">Instagram</label>
        <input type="text" class="full-width" formControlName="instagram">
      </div>
      <div class="col-md-2">
          &nbsp;
      </div>      
      <div class="col-md-5">
        <label for="twitter">Twitter</label>
        <input type="text" class="full-width" formControlName="twitter">
      </div>
    </div>
    <div class="row">    
      <div class="col-md-5">
        <label for="facebook">Facebook</label>
        <input type="text" class="full-width" formControlName="facebook">
      </div>
      <div class="col-md-2">
          &nbsp;
      </div>
      <div class="col-md-5">
          <image-upload [max]="1"
           url="/subirAvatar/{{userid}}"
            [uploadedFiles]="listadoAdjuntos"
            [extensions]="['jpg','png','gif']"
            (removed)="onRemoved($event)"
            [buttonCaption]="'Subir Avatar'"
            [dropBoxMessage]="'Arrastra tu avatar aquí'"
            [clearButtonCaption]="'Borrar'"
            [objeto]="usuarioRecuperado"
            ></image-upload>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <label for="about_me">Sobre m&iacute;</label>
        <textarea class="full-width" formControlName="about_me" > </textarea>
      </div>
      <div class="col-md-2">
          &nbsp;
      </div>      
      <div style="text-align:center">
        <br/>
        <button type="submit" class="btn-primary">Guardar</button>
        <button type="button" routerLink="../articles-list" >Cancelar</button>
        <button type="button" (click)="eliminarCuenta()" >Eliminar Cuenta</button>
    </div>
    </div>
  </form>
</div>
<app-loader-vc></app-loader-vc>
<app-modal-delete></app-modal-delete>
