<form 
[formGroup]="formulario"
(ngSubmit)="modifyUser()">
  <div>
    <label for="">Usuario</label>
    <input type="text" formControlName="username">
  </div>
  <div>
    <label for="">Nombre</label>
    <input type="text" formControlName="first_name">
  </div>
  <div>
    <label for="">Apellidos</label>
    <input type="text" formControlName="last_name">
  </div>
  <div>
    <label for="">Email</label>
    <input type="text" formControlName="email">
  </div>
  <div>
    <label for="">Foto</label>
    <input type="text" formControlName="image">
  </div>
  <div>
    <label for="">Instagram</label>
    <input type="text" formControlName="instagram">
  </div>
  <div>
    <label for="">Twitter</label>
    <input type="text" formControlName="twitter">
  </div>
  <div>
    <label for="">Facebook</label>
    <input type="text" formControlName="facebook">
  </div>
  <div>
    <label for="">Sobre me</label>
    <input type="text" formControlName="about_me">
  </div>
  <div>
    <button type="submit">Guardar</button>
  </div>
</form>