    <h1>Login de usuario</h1>
    <div class="container">
        <div *ngIf="displayError" class="row error">
            {{displayError}}
        </div>
        <div class="row ">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4 text-center">

                <form [formGroup]="formulario" (ngSubmit)="loginUser()">
                    <fieldset>
                        <div class="form-field">
                            <input formControlName="username" type="text" class="full-width" placeholder="Tu usuario"
                                   value="">
                        </div>
                        <div class="form-field">
                            <input formControlName="password" type="password" class="full-width" placeholder="Tu contraseña" value="">
                            <span toggle="#password" class="fa fa-2x fa-fw fa-eye field-icon toggle-password 2x"></span>
                        </div>
                        <div class="etiqueta">
                            <label class="etiqueta"><input type="checkbox" value="remember-me" id="recuerdame">&nbsp;Recuérdame</label>
                        </div>
                        <div class="etiqueta">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                        <button type="submit" class="submit btn--primary btn--large full-width">Entrar</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>
    </div>
