/**
Fuentes
**/

@font-face {
    font-family: "metropolis-medium";
    src: url("./assets/fonts/metropolis/metropolis-medium-webfont.ttf") format("truetype"); 
  }
  

 @font-face {
    font-family: "metropolis-semibold";
    src: url("./assets/fonts/metropolis/metropolis-semibold-webfont.ttf") format("truetype");
}


 @font-face {
    font-family: "metropolis-regular";
    src: url("./assets/fonts/metropolis/metropolis-regular-webfont.ttf") format("truetype");
}
 
 @font-face {
    font-family: "metropolis-light";
    src: url("./assets/fonts/metropolis/metropolis-extralight-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "metropolis-italic";
    src: url("./assets/fonts/metropolis/metropolis-extrabolditalic-webfont.ttf") format("truetype");
}



/**
Genéricos
**/
html {
    box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: inherit;
 }
 
 body {
	padding-top: 3.5rem;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    background-color: #e8ede6;
    overflow-x: hidden;
 }

.row{
    margin-top: 20px;
}

.container{
    width: 90%;
    align-content: center;
}

/* Estilos para la barra de navegación
*/

.fixed-top {
    z-index: 850;
}

.navbar-inverse {
    font-family: "metropolis-semibold";
}

.navbar-inverse .navbar-nav .active>.nav-link {
    color: #EA3A01;
}

.navbar-inverse .navbar-nav .nav-link:hover {
    color: #EA3A01;
    font-weight: 500;
    background-color: #1C0113;
}

.btn-outline-success {
    color: #EA3A01;
    background-image: none;
    background-color: transparent;
    border-color: #EA3A01;
}

.search-input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: white;
    border: 1px solid white;
    background-color: transparent;

}

.fa {
    color: #EA3A01;
    padding: .5rem .75rem;
}

.texto-gris {
    font-family: "metropolis-medium";
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
}

.texto-gris:hover {
    cursor: pointer;
    text-decoration: none;
    color: #EA3A01;
}

.texto-gris a {
    font-family: "metropolis-medium";
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
}


.texto-gris a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #EA3A01;
}

.texto-gris a:visited {
    font-family: "metropolis-medium";
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    text-decoration: none;
}

.bg-inverse {
    background-color: #1C0113!important;   
}


/* ------------------------------------------------------------------- 
 * ## Estilo para los artículos
 * ------------------------------------------------------------------- */

 .heading-title{
    padding-top: 25px;
}

h1 {
    padding-top: 125px;
}

 
 .caja_articulo {
    padding: 0 20px;
    margin-bottom: 20px;
 }


.entry__thumb, .entry__text {
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

 .entry__thumb {
   position: relative;
   overflow: hidden;
}

.entry__thumb-link img {
   vertical-align: bottom;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.entry__thumb-link::before {
   content: "";
   display: block;
   background: rgba(28, 1, 19, 0.8);
   opacity: 0;
   visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   z-index: 1;
}

.entry__thumb-link::after {
   content: "Leer más";
   font-size: 1.2rem;
   z-index: 1;
   display: block;
   height: 90px;
   width: 90px;
   letter-spacing: -1px;
   line-height: 90px;
   margin-left: -45px;
   margin-top: -45px;
   position: absolute;
   left: 50%;
   top: 50%;
   text-align: center;
   color: #FFFFFF;
   opacity: 0;
   visibility: hidden;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   -webkit-transform: scale(0.5);
   -ms-transform: scale(0.5);
   transform: scale(0.5);
}

.entry__thumb:hover .entry__thumb-link::before {
   opacity: 1;
   visibility: visible;
}

.entry__thumb:hover .entry__thumb-link::after {
   opacity: 1;
   visibility: visible;
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
}

.entry__thumb:hover .entry__thumb-link img {
   -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05);
}

.entry__text {
   background-color: #FFFFFF;
}

.entry__title {
   font-family: "metropolis-semibold";
   font-size: 1.8rem;
   line-height: 1.375;
   margin-top: 0;
   margin-bottom: 0.4rem;
   color: #A30006;
}


.etiqueta {
    font-family: "metropolis-medium";
    text-align: left;
    font-size: 1rem;
    color: #A30006;
 }

 .etiqueta a {
    font-family: "metropolis-medium";
    text-decoration: underline;
    color: #A30006;
 }

.entry__title a {
   color: #A30006;
}

.entry__title a:hover, .entry__title a:focus {
   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
   text-decoration: none;
}

.entry__date {
   font-family: "metropolis-light", sans-serif;
   font-size: 0.9rem;
   line-height: 1.714;
   margin-bottom: .6rem;
}

.entry__date a {
   color: #858585; 
}

.entry__author, .entry__author a {
    font-family: "metropolis-italic";
    font-size: 0.8rem;
    color: #1C0113;
    margin-bottom: 1.6rem;
}

.entry__excerpt {
   font-family: "metropolis-regular";
   font-size: 1rem;
   line-height: 1.8;
   margin-bottom: .6rem;
}

.entry__meta {
   font-family: "metropolis-semibold", sans-serif;
   font-size: 1rem;
   margin-bottom: 0;
      
}

.entry__meta a {
   color: #fff;
   background-color: #1C0113;
   border: 1px solid #1C0113;
   border-radius: 3px;
   margin-right: 6px;
   margin-bottom: 6px;
   padding: 0 10px;
   text-decoration: none;
}

.entry__meta a:hover, .entry__meta a:focus {
   background-color: #A30006;
   border-color: #A30006;
}


/*POST DETAIL*/
/* -------------------------------------------------------------------
 * ## author profile
 * ------------------------------------------------------------------- */
 .s-content__author {
    position: relative;
    border-left: 1px solid #A30006;
 }
 
 .s-content__author img {
    margin: 0 !important;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 50%;
 }
 
 .s-content__author p {
    margin-bottom: 1.2rem;
 }
 
 .s-content__author-name {
    margin-top: 0;
 }
 
 .s-content__author-name a {
    color: #151515;
 }
 
 .s-content__author-social {
    list-style: none;
    margin-left: 0;
    font-family: "metropolis-medium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
 }
 
 .s-content__author-social li {
    display: inline-block;
    margin-right: 1rem;
    padding-left: 0;
 }
 
 .s-content__author-social a {
    color: #151515;
 }
 
 /* -------------------------------------------------------------------
 * ## post tags
 * ------------------------------------------------------------------- */
.s-content__tags {
    font-family: "metropolis-light", sans-serif;
 }
 
 .s-content__tags span {
    font-family: "metropolis-semibold", sans-serif;
    color: rgb(28, 1, 19);
    position: relative;
    padding-right: 55px;
    margin-right: 1.5rem;
 }
 
 .s-content__tags span::after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 40px;
    background-color: rgba(28, 1, 19, 0.2);
    position: absolute;
    top: 50%;
    right: 0;
 }
 
 .s-content__tags .s-content__tag-list {
    display: inline-block;
    margin-right: 0;
 }
 
 .s-content__tags .s-content__tag-list::after {
    display: none;
 }
 
 .s-content__tags .s-content__tag-list a {
    display: inline-block;
    font-family: "metropolis-light", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    line-height: inherit;
    color: #7f7f7f;
    border: 1px solid rgba(28, 1, 19, 0.3);
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 0 10px;
 }
 
 .s-content__tags .s-content__tag-list a:hover, 
 .s-content__tags .s-content__tag-list a:focus {
    background-color: #1C0113;
    border-color: #1C0113;
    color: #ffffff;
 }
 
 .s-content__tags .s-content__tag-list a:last-child {
    margin-right: 0;
 }
 

 .botonEstrella {
    display: inline-block;
    font-family: "metropolis-light", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    line-height: inherit;
    color: #7f7f7f;
    border: 1px solid rgba(28, 1, 19, 0.3);
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
    color: transparent;
 }

 .botonEstrella .fa {
     color: gold;
 }

 .botonEstrella:hover {
    background-color: #1C0113;
 }


 /*Comentarios*/

 
/* -------------------------------------------------------------------
 * ## comments 
 * ------------------------------------------------------------------- */
.comments-wrap {
    background-color: #e5e5e5;
    padding: 2rem 0 3rem;
    margin-top: 2rem;
 }
 
 /* comments
  * -------------------------------------------------- */
 #comments {
    padding: 1.2rem;
    max-width: 1000px;
 }
 
 #comments h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #A30006;
 }
 
 #comments ol, #comments ul {
    list-style: none;
 }
 
 .commentlist {
    margin: 0 0 5.4rem;
    padding: 0;
 }

 .comment__content{
     margin-left: 25px;
 }
 
 .commentlist > .comment {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 1.8rem 0;
    padding-left: 14%;
 }
 
 .comment__avatar {
    position: absolute;
    left: 0;
    display: block;
    height: 6rem;
    width: 6rem;
 }
 
 .comment__avatar img {
    margin-top: 0.6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 100%;
 }
 
 .comment__info cite {
    font-family: "metropolis-semibold", sans-serif;
    font-size: 1.5rem;
    line-height: 1.263;
    font-style: normal;
    color: #1C0113;   
 }
 
 .comment__meta {
    font-family: "metropolis-light", sans-serif;
    font-size: 1.1rem;
    line-height: 3rem;
    font-style: normal;
    display: block;
    color: rgba(0, 0, 0, 0.7);
 }
 
 .comment__meta time {
    margin-right: 12px;
 }
 
 .comment__meta .reply {
    font-family: "metropolis-semibold", sans-serif;
    color: #EA3A01;
 }
 
 .comment__text {
    clear: both;
    margin: 1.8rem 0 0 0;
    padding: 0;
 }
 
 .comment ul.children {
    margin: 0;
    padding: 1.8rem 0 0 0;
 }
 
 .comment ul.children li {
    padding-left: 8%;
    padding-top: 1.8rem;
 }



 /* ------------------------------------------------------------------- 
 * responsive:
 * comments
 * ------------------------------------------------------------------- */
@media only screen and (max-width:1200px) {
    #comments {
       max-width: 830px;
    }
 
 }
 
 @media only screen and (max-width:1000px) {
    #comments {
       max-width: 750px;
    }
 
 }
 
 @media only screen and (max-width:800px) {
    #comments form button {
       width: 100%;
    }
 
    .comment__avatar {
       height: 5.1rem;
       width: 5.1rem;
    }
 
    .comment__avatar img {
       margin-top: 0;
       height: 5.1rem;
       width: 5.1rem;
    }
 
 }
 
 @media only screen and (max-width:600px) {
    #comments h3 {
       text-align: center;
    }
 
    .commentlist > .comment {
       padding-left: 0;
    }
 
    .commentlist .comment__avatar {
       display: none;
    }
 
 }

 .respond {
    padding: 2.3rem;
 }
 
 
 #formulario .form-field {
    margin-bottom: 3.9rem;
 }

/*Estilo para los formularios */

/* ===================================================================
 * # forms
 *
 * ------------------------------------------------------------------- */
 fieldset {
    border: none;
 }
 
 input[type="email"],
 input[type="number"],
 input[type="search"],
 input[type="text"],
 input[type="tel"],
 input[type="url"],
 input[type="password"],
 textarea,
 select {
    display: block;
    height: 3rem;
    padding: 1.5rem 0;
    border: 0;
    outline: none;
    color: #151515;
    font-family: "metropolis-medium", sans-serif;
    font-size: 1.2rem;
    line-height: 3rem;
    max-width: 100%;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
 input[type="datetime"] {

    display: block;
    padding: 1.5rem;
    outline: none;
    color: #1C0113;
    font-family: "metropolis-medium", sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 100%;
    background: transparent;
 }

 input[type="datetime"]:focus {
    color: #1C0113;
    border: 1px solid #EA3A01;
    background: transparent;
 }
 
 .cl-custom-select {
    position: relative;
    padding: 0;
 }
 
 .cl-custom-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin: 0;
    line-height: 3rem;
    vertical-align: middle;
 }
 
 .cl-custom-select select option {
    padding-left: 2rem;
    padding-right: 2rem;
 }
 
 .cl-custom-select select::-ms-expand {
    display: none;
 }
 
 .cl-custom-select::after {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    margin-top: -7px;
    pointer-events: none;
    position: absolute;
    right: 2.4rem;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
 }
 
 /* IE9 and below */
 .oldie .cl-custom-select::after {
    display: none;
 }
 
 
 input[type="email"]:focus,
 input[type="number"]:focus,
 input[type="search"]:focus,
 input[type="text"]:focus,
 input[type="tel"]:focus,
 input[type="url"]:focus,
 input[type="password"]:focus,
 textarea:focus,
 select:focus {
    color: #1C0113;
    border-bottom: 2px solid #EA3A01;
 }
 
 label, legend {
    font-family: "metropolis-medium", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: .9rem;
    line-height: 1.714;
    color: #1C0113;
    display: block;
 }
 
 input[type="checkbox"], input[type="radio"] {
    display: inline;
 }
 
 label > .label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: "metropolis-semibold", serif;
    font-weight: normal;
    line-height: inherit;
 }
 
 label > input[type="checkbox"], label > input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
 }
 
 .field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -75px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  .fa-fw {
    text-align: center;
}


/* Estilos para el área de subir imagen */
.btn-file {
    position: relative;
    overflow: hidden;
    padding: 1px;
    margin: 0;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-zone {
    background-color: #F2FFF9;
    border: 5px dashed #EA3A01;
    border-radius: 5px;
    padding: 20px;
}

.img-zone h2 {
    margin-top: 0;
}

.progress, #img-preview {
    margin-top: 15px;
}


 /* ------------------------------------------------------------------- 
  * ## Style Placeholder Text
  * ------------------------------------------------------------------- */
 ::-webkit-input-placeholder {
    color: #6d6d6d;
 }
 
 :-moz-placeholder {
    color: #6d6d6d;  /* Firefox 18- */
 }
 
 ::-moz-placeholder {
    color: #6d6d6d;  /* Firefox 19+ */
 }
 
 :-ms-input-placeholder {
    color: #6d6d6d;
 }
 
 .placeholder {
    color: #6d6d6d !important;
 }
 
 
 /* ------------------------------------------------------------------- 
  * ## Change Autocomplete styles in Chrome
  * ------------------------------------------------------------------- */
 input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus
 input:-webkit-autofill, textarea:-webkit-autofill, textarea:-webkit-autofill:hover
 textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus {
    -webkit-text-fill-color: #1C0113;
    transition: background-color 5000s ease-in-out 0s;
 }

 .full-width {
    width: 100%;
    margin-right: 10px;
 }


 /* ===================================================================
 * # buttons
 *
 * ------------------------------------------------------------------- */
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
   display: inline-block;
   font-family: "metropolis-bold", sans-serif;
   font-size: 1.2rem;
   text-transform: uppercase;
   letter-spacing: .1rem;
   height: 5.4rem;
   line-height: 5rem;
   margin: 0 .3rem 1.2rem 0;
   color: #1C0113;
   text-decoration: none;
   text-align: center;
   white-space: nowrap;
   border-radius: 3px;
   cursor: pointer;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #c5c5c5;
   border: .2rem solid #c5c5c5;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.btn:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
   background-color: #b8b8b8;
   border-color: #b8b8b8;
   color: #000000;
   outline: 0;
}

/* button primary
 * ------------------------------------------------- */
.btn.btn--primary,
button.btn--primary,
input[type="submit"].btn--primary,
input[type="reset"].btn--primary,
input[type="button"].btn--primary {
   background: #1C0113;
   border-color: #1C0113;
   color: #FFFFFF;
}

.btn.btn--primary:hover,
button.btn--primary:hover,
input[type="submit"].btn--primary:hover,
input[type="reset"].btn--primary:hover,
input[type="button"].btn--primary:hover,
.btn.btn--primary:focus,
button.btn--primary:focus,
input[type="submit"].btn--primary:focus,
input[type="reset"].btn--primary:focus,
input[type="button"].btn--primary:focus {
   background: #EA3A01;
   border-color: #EA3A01;
}

nav button{
    height: 3rem;
}

/* ------------------------------------------------------------------- 
 * # Capa cover
 * ------------------------------------------------------------------- */
 .cover-div {
    display: block;
    text-align: center;
    background: #1C0113;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 900;
 }
 
 .header__search-form {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 }
 
 .header__search-form label {
    color: #FFFFFF;
 }
 
 .header__search-form::after {
    content: "Pulsar Enter para buscar";
    display: block;
    letter-spacing: 0.6px;
    font-size: 1.6rem;
    margin-top: 3rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
 }
 
 .header__search-form input[type="search"] {
    background-color: transparent;
    color: rgb(234, 58, 1);
    height: auto;
    width: 100%;
    font-family: "metropolis-semibold", sans-serif;
    font-size: 6rem;
    line-height: 1.5;
    border: none;
    border-bottom: 1px solid rgba(234, 58, 1, 0.4) !important;
    max-width: 680px;
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    margin: 0 auto;
 }
 
 
 .header__search-form input[type="search"].placeholder {
    color: #FFFFFF;
    text-align: center !important;
    opacity: 1;
 }
 
 .header__search-form input[type="search"]:focus {
    outline: none;
 }
 
 .header__search-form input[type="submit"] {
    display: none;
 }
 
 body.is-visible {
    overflow: hidden;
 }
 
 .is-visible .cover-div {
    opacity: 1;
    visibility: visible;
 }
 

/*Botón de cerrar popup*/

.header__overlay-close {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    top: 21px;
    left: 50%;
    margin-left: -23px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
 }
 
 .header__overlay-close::before, .header__overlay-close::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 20px;
    top: 12px;
    left: 22px;
    background-color: #FFFFFF;
 }
 
 .header__overlay-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
 }
 
 .header__overlay-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }


 
 /* Footer */

 footer {
    margin-top: 10.2rem;
    padding-bottom: 6rem;
    font-size: 1.5rem;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
    background-color:  #1C0113;
 }
 
 footer a {
    color: #FFFFFF;
 }

 footer h4 {
    font-family: "metropolis-semibold", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.286;
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding-top: 2rem;
    padding-left: 2rem;
    color: #EA3A01;
    position: relative;
 }

 .s-footer__linklist {
    font-family: "metropolis-medium", sans-serif;
    list-style: none;
    margin-left: 1px;
    font-size: 0.9rem;
 }
 
 .s-footer__linklist a {
    color: rgba(255, 255, 255, 0.4);
 }

 .s-footer__linklist a:hover {
    color: #EA3A01;
    text-decoration: none;
    
 }
 
 .s-footer__linklist li {
    padding-left: 0;
 }

/**Go to top*/

.go-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    -webkit-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
 }
 
 .go-top a, .go-top a:visited {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 5.4rem;
    width: 5.4rem;
    line-height: 5.4rem;
    text-align: center;
    background-image: url("./assets/icons/icon-arrow-up.svg");
	background-color: #EA3A01;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 16px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
 }
 
 .go-top a:hover, .go-top a:focus {
    color: #FFFFFF;
    background-color: #A30006;
 }
 
 .go-top.link-is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
 }