<div class="container">         
  <!-- Capa de login --> 
  <div class="row ">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">           
        <h3 class="entry__title">Encuentra tu cuenta de CoderTexts</h3>
        <p>Introduce tu nombre de usuario o email y te ayudaremos.</p>
        <div *ngIf="displayError" class="row error">
            {{displayError}}
        </div>
        <form [formGroup]="formulario" (ngSubmit)="recuperarPassword()">
            <fieldset>
              <div class="form-field">
                    <label for="user">Usuario o email:</label>
                    <input formControlName="user" type="text" class="full-width" >
              </div>
              <br/>
              <button type="submit" class="submit btn--primary btn--large full-width">Aceptar</button>
            </fieldset>            
        </form> <!-- end form -->           
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
  </div>
