<div class="container">         
  <!-- Capa de login --> 
  <div  *ngIf="!usuarioRecuperado"  class="row ">
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-6">           
        <h3 class="entry__title">Encuentra tu cuenta de CoderTexts</h3>
        <p>Introduce tu nombre de usuario o email y te ayudaremos.</p>
        <div *ngIf="displayError" class="row error">
            {{displayError}}
        </div>
        <form [formGroup]="formulario" (ngSubmit)="recuperarPassword()">
            <fieldset>
              <div class="form-field">
                    <label for="user">Usuario o email:</label>
                    <input formControlName="user" type="text" class="full-width" >
              </div>
              <br/>
              <button type="submit" class="submit btn--primary btn--large full-width">Aceptar</button>
            </fieldset>            
        </form> <!-- end form -->           
      </div>
      <div class="col-md-3">&nbsp;</div>
    </div>
    <!-- Capa de envío de contraseña -->
    <div *ngIf="usuarioRecuperado" class="row ">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">           
          <h3 class="entry__title">¿Quieres reestablecer tu contraseña?</h3>
          <p>Estos son los datos que hemos encontrado en nuestro sistema:</p>
          <div class="col-md-2 s-content__author">
                <img src="{{usuarioRecuperado.image}}" alt="" onError="this.src='../../assets/icons/avatar.png';" />
          </div>
          <div class="col-md-6">
              <strong>{{usuarioRecuperado.first_name}} {{usuarioRecuperado.last_name}}</strong>
          </div> 
          <div class="col-md-10">
              Si eres tú, enviaremos enseguida un correo electrónico de reestablecimiento de contraseña a la dirección <strong>{{usuarioRecuperado.emailOfuscado}}</strong>
          </div> 
          <br/> 
          <div>  
            <button type="button" (click)="enviarEmail()" class="btn--primary btn--large">&nbsp;Vale&nbsp;</button> 
            <button type="button" class="btn--primary btn--large">Atrás</button>       
          </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>    
  </div>
