<div class="">
  <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
          <alert></alert>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div>
              <h3 class="entry__title">Mis artículos</h3>
          </div>
      </div>
  </div>    
  <div class="row">
      <div class="col-md-9">
        &nbsp;
      </div>
      <div class="col-md-3">
          <input type="text" name="search" [(ngModel)]="filter" placeholder="Buscar" class="full-width">
      </div>
  </div>    
  <div class="row">
    <table class="table">
        <tr>
          <th>Imagen</th>
          <th (click)="sort('title')" class="ordenable">T&iacute;tulo
            <i class="fa" *ngIf="key =='title'" [ngClass]="{'fa-arrow-circle-o-up': reverse, 'fa-arrow-circle-o-down': !reverse}"></i>
          </th>
          <th (click)="sort('pub_date')" class="ordenable" >Fecha publicaci&oacute;n
            <i class="fa" *ngIf="key =='pub_date'" [ngClass]="{'fa-arrow-circle-o-up': reverse, 'fa-arrow-circle-o-down': !reverse}"></i>
          </th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let article of articles$ | async | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }" >
          <td><img src="/media/posts/{{ article.id }}.jpg" alt="{{ article.title }}" width="200px"></td>
          <td>{{ article.title }}</td>
          <td>{{ article.pub_date }}</td>
          <td>
            <a routerLink="../article/{{ article.id }}"><i class="fa fa-edit"></i></a>
            <a (click)="onDeleteArticle(article.id)"><i class="fa fa-trash manita"></i></a>
          </td>
        </tr>
    </table>           
  </div>
  <div class="row">
     <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<app-modal-delete></app-modal-delete>